<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap"
      rel="stylesheet"
    />
    <title>Makan Bang</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="inner-header">
        <h1 class="logo">Makan Bang<span class="yellow">.</span></h1>
        <a id="hamburger" href="#">☰</a>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">Favorite</a></li>
            <li class="nav-item"><a href="#">About US</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="hero">
      <div class="inner-hero">
        <p class="hero-tagline">~ Makanan dengan cita rasa terjamin ~</p>
        <h1 class="hero-title">MAKAN <span class="yellow">BANG</span> ?</h1>
      </div>
    </div>
    <main id="main-content">
      <section id="content">
        <div class="our-restaurant">
          <h1 class="our-restaurant-title">~Our Restaurant~</h1>
          <div class="restaurants"></div>
        </div>
      </section>
    </main>
    <footer class="footer">
      Copyright &COPY @2023 | Makan Bang - Dicoding Submission
    </footer>
  </body>
</html>
